
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}



body {
    font-family: 'lato', sans-serif;
    font-weight: 300;
    background-color: rgb(61, 77, 61);
}
  
nav {
    background: rgb(61, 77, 61);
    height: 80px;
    width: 100%;
}

.logo {
    color: white;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 900;
    font-family: 'oswald' sans-serif;
    letter-spacing: 5px;
}

#menu {
    letter-spacing: 4px; 
}



nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    
    border-radius: 3px;
    padding: 7px 13px;
}

 a:hover {
    background: rgba(30, 111, 28, 0.8);
    transition: .1s;
}

ul li {
    word-spacing: 7px;
}

/* Hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    transition-delay: 2s;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image { 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    
} 



#cover-text {
    font-size: 150%;
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-left: 6px;
    background-color: rgba(19, 20, 18, 0.71);
    bottom: 100px;
    left: 40%;
    position: absolute;
    text-align: center;
    
}

/* About-section */

#text-center {
    text-align: center;
    width: 100%;
    height:  500px;
    margin: 5px 0;
}

#about-us h2 {
    font-size: 2em;
    color: white;
   
}
#about-us a {
    color: white;
}

#about-us p {
    padding: 0 100x;
    color: white;
    font-size: 1em;
}
/* Middle-Section */

#middle-section {
    height: 600px;
}

#future-us h3 {
    color: white;
    font-size: 2rem;
    text-align: center;
}
#future-us p {
    font-size: 1rem;
    color: white;
    text-align: center;
}

/* Donating section */

#bottom-section {
    height: 300px;
}


#donate-us {
    text-align: center;
    font-size: 2rem;
    color: white;
}

#donate-us p {
    text-align: center;
    font-size: 1rem;
    color: white;
}

#donate-us hr {
    height:  100px; 
}

/* Gallery slider */

#slider {
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
    position: relative;
    width: 50%;
    height: 32vw;
    margin: 150px auto;
}
   

input[type=radio] {
    top: 108%;
    left: 50%;
    width: 18px;
    transform: translateX(-83px);
    cursor: pointer;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    position: relative;
}

input[type=radio]:nth-child(5) {
    margin-right: 0px;
}
 
input[type=radio]:checked {
    opacity: 1;
  }

#slider label,
#slider label img {
    font-weight: bold;
    border-radius: 3px;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 70px;
    transition: transform 400ms ease;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

input[type=radio]:checked {
    opacity: 1;
  }

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
 }

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(20%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(40%, 0, -250px);
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-40%, 0, -250px);
} 

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-20%, 0, -100px);
}


/* Youtube playable video */ 

#video-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin: 150px auto;
    justify-content: center;
 }

 #video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    
 }



/* Sign Up Detail section*/
 
#sign-up {
    text-align: center;
    color: white;
}

#sign-up a {
    color: white;
}
 
/* Form - section */

.form-section {
    clear: left;
    background: url('../css/images/signupimage.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 350px 10% 0 0;
    color: white;
    background-color:  rgba(19, 20, 18, 0.71);
    max-width: 800px;
    position: absolute;
    left: 5%;
    padding: 30px;
}

.signup-form > h2 {
    color: white;
    margin-bottom: 30px;
    text-align: left;
    
}

.text-input:hover {
    border-color: green;
}

.grow-button:hover {
    background-color: green;
}







/* footer */

footer {
    height: 150px; 
}

.apps-icons {
    text-align: center;
}

.apps-icons > li {
    display: inline;
}
.apps-icons i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}

.apps-icons p {
    color: white;
}
