/* Link to Google Fonts used throughout site */
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Lateef&family=Lato:ital,wght@1,300&family=Love+Ya+Like+A+Sister&family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Lateef&family=Lato:ital,wght@1,300&family=Love+Ya+Like+A+Sister&family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    font-family: 'lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
  
nav {
    background: #3a3a3a;
    height: 90px;
    width: 100%;
}

.logo {
    color: white;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'oswald' sans-serif;
    letter-spacing: 5px;

}

#menu {
    letter-spacing: 4px;
    margin-bottom: 8px;
}




nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    
    border-radius: 3px;
    padding: 7px 13px;
}

 a:hover {
    background: rgba(30, 111, 28, 0.8);
    transition: .1s;
}

ul li {
    word-spacing: 7px;
}

/* Hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background: url('../css/videos/pexels-matthew-montrone-1179229.jpg') no-repeat center center;

} 


#cover-text {
    font-size: 150%;
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-left: 6px;
    background-color: rgba(19, 20, 18, 0.71);
    bottom: 0px;
    left: 40%;
    position: absolute;
    text-align: center;
    
}

/* About/ Future section */

#text-center {
    text-align: center;
    background-color: rgb(61, 77, 61);
    width: 100%;
    margin: 5px 0;
}

#about-us h2 {
    font-size: 2em;
    color: white;
   
}
#about-us p {
    padding: 0 100x;
    color: white;
    font-size: 1em;
}

#text-center hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#future-us h3 {
    color: white;
    font-size: 2rem;
}
#future-us p {
    font-size: 1rem;
    color: white;
}

/* Donating section */

#donate-us {
    font-size: 2rem;
    color: white;
}

#donate-us p {
    text-align: center;
    font-size: 1rem;
    color: white;
}



















/* footer */

footer {
    height: 150px; 
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
